<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Gamerz Blog</title>
  <link rel="stylesheet" href="/public/scss/main.css">
</head>

<body>
  <header>
    <img class="logo-nav"src="/The-Gamerz-Blog/public/img/logo copy.jpg">
    <h1>
      The Gamerz Blog
    </h1>
  </header>
  <nav>
    <ul class="navbar">
        <li><a href="/views/homepage.handlebars">Home</a></li>
        <li class="nav_dropdown">
            <a href="#">Pages</a>
            <ul class="dropdown_content">
              <!--Must add dynamic data in Javascript and use Handlebars to render this drop down template - Hannah -->
                <li><a href="/views/playstat.handlebars">Playstation</a></li>
                <li><a href="/views/pcgaming.handlebars">PC Gaming</a></li>
                <li><a href="/nintendo">Nintendo</a></li>
                <li><a href="/views/xbox.handlebars">Xbox</a></li>
            </ul></li>
        <li><a href="/views/profile.handlebars">Profile</a></li>
        <li><a href="/views/aboutpage.handlebars">About</li>
        </li>
    </ul>
  </nav>
  <main>
    <!-- Render the contents of the sub layout here -->
    {{{ body }}}
  </main>
  <footer>  
  </footer>
</body>
</html>