<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Gamerz Blog</title>
  {{!-- SCSS and CSS --}}
  <link rel="stylesheet" href="/scss/main.scss">
  <link rel="stylesheet" href="/scss/main.css.map">
  <link rel="stylesheet" href="scss/main.css">
  <link rel="stylesheet" href="/sign-in.css">
  {{!-- Bootstrap --}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg" id="navbar">
    {{!-- Logo in Nav --}}
    <img class="navbar-brand" id="logo-nav" src="/img/logo copy.jpg" href="#">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
{{!-- Beginning of items listed in nav bar --}}
  <div class="collapse navbar-collapse" id="navbarItems">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        {{!-- Home Link --}}
        <a class="nav-link" href="#">Home</a>
      </li>
      {{!-- Drop Down Pages Link --}}
      {{!-- Not working upon toggle -Hannah --}}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pages
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Playstation</a>
          <a class="dropdown-item" href="#">PC Gaming</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Nintendo</a>
          <a class="dropdown-item" href="#">Xbox</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      {{!-- Profile Dropdown --}}
      {{!-- Data Toggle not working -Hannah --}}
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">View</a>
          <a class="dropdown-item" href="#">Sign Out</a>
    </ul>
  </div>
</nav>
  <main>
  
    <!-- Render the contents of the sub layout here -->
    {{{ body }}}
  </main>
  <script src="/buttonscript.js"></script>
  <script src="/public/nav.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>