<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Gamerz Blog</title>
  <link rel="stylesheet" href="/The-Gamerz-Blog/public/css/sass.css">
  <
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <img class="logo-nav"src="/The-Gamerz-Blog/public/img/logo copy.jpg">
    <h1>
      The Gamerz Blog
    </h1>
  </header
  <nav>
    <ul class="navbar">
        <li><a href="/The-Gamerz-Blog/views/homepage.handlebars">Home</a></li>
        <li class="nav_dropdown">
            <a href="#">Pages</a>
            <ul class="dropdown_content">
              <!--Must add dynamic data in Javascript and use Handlebars to render this drop down template - Hannah -->
                <li><a href="/The-Gamerz-Blog/views/playstat.handlebars">Playstation</a></li>
                <li><a href="/The-Gamerz-Blog/views/pcgaming.handlebars">PC Gaming</a></li>
                <li><a href="/The-Gamerz-Blog/views/nintendo.handlebars">Nintendo</a></li>
                <li><a href="/The-Gamerz-Blog/views/xbox.handlebars">Xbox</a></li>
            </ul>
        <li><a href="/The-Gamerz-Blog/views/profile.handlebars">Profile</a></li>
        <li><a href="/The-Gamerz-Blog/views/aboutpage.handlebars">About</li>
        </li>
    </ul>
  </nav>
  <main class="container container-fluid mt-5">
    <!-- Render the contents of the sub layout here -->
    {{{ body }}}
  </main>
  <footer>  
  </footer>
</body>

</html>