<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Gamerz Blog</title>
  <link rel="stylesheet" href="/public/scss/main.scss">
  <link rel="stylesheet" href="/public/scss/main.css.map">
  <link rel="stylesheet" href="/public/scss/main.css">
</head>

<body>
  <header>
    <img class="logo-nav" src="/The-Gamerz-Blog/public/img/logo copy.jpg">
    <h1>
      The Gamerz Blog
    </h1>
  </header>
  <nav>
    <ul class="navbar">
        <li class="home-btn">Home</li>>
        <li class="nav_dropdown">
            <li class="">Pages</a>
            <ul class="dropdown_content">
              <!--Must add dynamic data in Javascript and use Handlebars to render this drop down template - Hannah -->
                <li class="playstat-btn">Playstation</li>
                <li class="pcgaming-btn">PC Gaming</li>
                <li class="nintendo-btn">Nintendo</li>
                <li class="xbox-btn">Xbox</li>
            </ul></li>
        <li class="profile-btn">Profile</li>
        <li class="about-btn">About</li>
        </li>
    </ul>
  </nav>
  <main>
    <!-- Render the contents of the sub layout here -->
    {{{ body }}}
  </main>
  <footer>  
  </footer>
  <script src="/public/fetchRequests.js"></script>
</body>
</html>