<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Gamerz Blog</title>
   {{!-- Bootstrap --}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    {{!-- SCSS and CSS --}}
  <link rel="stylesheet" href="/scss/main.css">
  <link rel="stylesheet" href="/sign-in.css">
</head>
<body class="theme-light">
<nav class="navbar navbar-expand-lg" id="navbar">
  <!-- Logo in Nav -->
  <img class="navbar-brand" id="logo-nav" src="/img/logo copy.jpg" href="#">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarItems" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Beginning of items in Nav -->
      <div class="collapse navbar-collapse" id="navbarItems">
        <ul class="navbar-nav me-auto ms-auto">
          <!-- Home Link -->
          <li class="nav-item">
            <a class="nav-link active home-btn" aria-current="page" href="#">Home</a>
          </li>
          <!-- Pages Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Pages
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item playstation-btn" href="#">Playstation</a></li>
              <li><a class="dropdown-item pcgaming-btn" href="#">PC Gaming</a></li>
              <li><a class="dropdown-item nintendo-btn" href="#">Nintendo</a></li>
              <li><a class="dropdown-item xbox-btn" href="#">Xbox</a></li>
            </ul>
            <!-- About Link -->
            <li class="nav-item">
              <a class="nav-link active about-btn" aria-current="page" href="#">About</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Profile
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">View</a></li>
                  <li><a class="sign-out dropdown-item" href="#">Sign Out</a></li>
                </ul>
            </li>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <!-- Render the contents of the sub layout here -->
    {{{ body }}}
  </main>
  <script src="/buttonscript.js"></script>
  <script src="/logout.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
<footer>
  This was made with love!
</footer>
</html>