<body id="main-container">
<div class="about-section">
  <h1 class="about-h1">About This Blog</h1>
  <p>Welcome to The Gamerz Blog, your ultimate destination for all things gaming! We're a passionate community of gamers, dedicated to delivering the latest and greatest insights into the world of gaming consoles. Whether you're a die-hard PlayStation aficionado, a PC gaming enthusiast, or a Nintendo fanatic, we've got you covered.

    <p>At The Gamerz Blog, we understand that gaming isn't just a hobby; it's a way of life. Our mission is to provide you with in-depth reviews, expert guides, and breaking news from the gaming industry. We're here to help you stay ahead of the curve, whether you're looking for the hottest game releases, tips to level up your gaming skills, or a glimpse into the future of gaming technology.</p>
    
    <p>We're more than just a blog; we're a vibrant community of gamers who share the same passion as you do. Join us on this epic journey as we explore the vast landscapes of gaming, from epic RPG adventures to heart-pounding multiplayer showdowns. Together, we'll dive deep into the worlds created by your favorite consoles and uncover the stories that make gaming an art form.</p>
    
    So, grab your controller, put on your headset, and embark on this epic gaming odyssey with us. Whether you're a casual gamer or a seasoned pro, The Gamerz Blog is your portal to the ever-evolving universe of gaming. Let's play, explore, and conquer together!</p>
</div>

<h2 id="aboutH2"style="text-align:center">The Developer Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/img/amanda.jpg" alt="Conal" style="width:100%">
      <div class="container">
        <h2>Conal Bruce</h2>
        <p class="title">Back End Developer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <a href="#" id="linkGitHub">Conal's GitHub</a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/img/Hailey.png" alt="Hailey" style="width:100%">
      <div class="container">
        <h2>Hailey Strauss</h2>
        <p class="Front End Developer">Front End Developer</p>
        <p>Hello! I am a student at UCONNs Full Stack Bootcamp to understand Web Development coding. My favorite blog is the Nintendo page because it stems from my deep appreciation for all things Nintendo, as it not only keeps me informed about the latest gaming trends and releases but also fosters a sense of nostalgia and excitement that keeps me coming back for more. Follow my GitHub as my journey to learning Web Development coding continues.</p>
       <a href="https://github.com/hailey-strauss" id="linkGitHub">Haileys's GitHub</a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/img/zach.jpg" alt="Zach" style="width:100%">
      <div class="container">
        <h2>Zachary</h2>
        <p class="title">Back End Developer</p>
        <p>Hi. I am an aspiring full stack developer. I like sports, playing video games and I have two dogs</p>
        <a href="https://github.com/zach-hoover" id="linkGitHub">Zachary's GitHub</a>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="/img/Hannah McEvoy.jpg" alt="Hannah McEvoy" style="width:100%">
      <div class="container">
        <h2>Hannah McEvoy</h2>
        <p class="title">Front End Developer</p>
        <p>Hello! I am a student at UCONNs Full stack Bootcamp to understand and become fluent in web development coding. I am very pleased with the blog you see before you. This was choice my team and I have gone with because this is something we all love and understand. My favorite part about this project was talking about our passion for gaming and how we can reflect that fondness into a blog.  Follow me on my GitHub as my journey for full stacking coding continues.</p>
        <a href="https://github.com/Lukiangelxd" id="linkGitHub">Hannah's GitHub</a>
      </div>
    </div>
  </div>
</div>
</div>
</body>  
