<!--Beige-->
<div class="centered-content-about">
    <h1>About Us</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum reprehenderit non eos at qui, deserunt placeat eaque perferendis repellendus veniam laudantium, exercitationem, esse suscipit. Magni doloribus commodi eius perspiciatis non.</p>
</div>

<div>

        <div class="image-text-container">
            <div class="image-text-item">
                <img src="/img/amanda.jpg" alt="Image 1">
                <p>Text for Image 1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil rerum aliquam harum voluptatibus neque veritatis iure veniam earum commodi doloribus voluptatem, asperiores in consequuntur amet natus corporis quam blanditiis dolorem.</p>
            </div>
        
        <div class-"image-text-container">
            <div class="image-text-item">
                <img src="/img/rudy.jpg" alt="Image 2">
                <p>Text for Image 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt deleniti eius itaque aperiam ducimus illum soluta dolore repudiandae esse, iure explicabo laudantium neque quam a odit, asperiores placeat? Tempora, cum?</p>
            </div>
        </div>
        
        <div class="image-text-container">
            <div class="image-text-item">
                <img src="/img/tom.jpg" alt="Image 3">
                <p>Text for Image 3. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit nam commodi nisi sed consequuntur vel quo laudantium eaque maxime minus quae accusantium corrupti nostrum tempora numquam, inventore, voluptas, velit odio!</p>
            </div>
            
            <div class="image-text-item">
                <img src="/img/wyatt.jpg" alt="Image 4">
                <p>Text for Image 4. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, quasi quam earum aperiam perferendis est deserunt quo possimus voluptates porro magnam! Ex impedit, nobis quisquam id laboriosam iure harum odio.</p>
                
</div>

<!--Contact Form-->
<div></div>