   
<div class="about-section">
  <h1 class="about-h1">About This Blog</h1>
  <p>Welcome to The Gamerz Blog, your ultimate destination for all things gaming! We're a passionate community of gamers, dedicated to delivering the latest and greatest insights into the world of gaming consoles. Whether you're a die-hard PlayStation aficionado, a PC gaming enthusiast, or a Nintendo fanatic, we've got you covered.

    <p>At The Gamerz Blog, we understand that gaming isn't just a hobby; it's a way of life. Our mission is to provide you with in-depth reviews, expert guides, and breaking news from the gaming industry. We're here to help you stay ahead of the curve, whether you're looking for the hottest game releases, tips to level up your gaming skills, or a glimpse into the future of gaming technology.</p>
    
    <p>We're more than just a blog; we're a vibrant community of gamers who share the same passion as you do. Join us on this epic journey as we explore the vast landscapes of gaming, from epic RPG adventures to heart-pounding multiplayer showdowns. Together, we'll dive deep into the worlds created by your favorite consoles and uncover the stories that make gaming an art form.</p>
    
    So, grab your controller, put on your headset, and embark on this epic gaming odyssey with us. Whether you're a casual gamer or a seasoned pro, The Gamerz Blog is your portal to the ever-evolving universe of gaming. Let's play, explore, and conquer together!</p>
</div>

<h2 style="text-align:center">The Developer Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/img/amanda.jpg" alt="Conal" style="width:100%">
      <div class="container">
        <h2>Conal Bruce</h2>
        <p class="title">Back End Developer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>Github link</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/img/rudy.jpg" alt="Hailey" style="width:100%">
      <div class="container">
        <h2>Hailey</h2>
        <p class="Front End Developer">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>GitHub Link</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/img/tom.jpg" alt="Zach" style="width:100%">
      <div class="container">
        <h2>Zachary</h2>
        <p class="title">Back End Developer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>GitHub Link</p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="/img/wyatt.jpg" alt="Hannah" style="width:100%">
      <div class="container">
        <h2>Hannah McEvoy</h2>
        <p class="title">Front End Developer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>Github Link</p>
      </div>
    </div>
  </div>
</div>
</div>
