<!--Red and white-->
<<<<<<< HEAD
=======
<section>
    <h1>Nintendo Page</h1>
    <div>
        {{!-- all the posts --}}
    </div>
    <form id="nintendo-comment">
      <label for = "comment">Comment</label>
      <input type="text" name="comment" id="commentInput">
      <button>Submit</button>
    </form>
</section>
>>>>>>> a7df350856cee913599ef947be926568dff39681
