<form>
    <div>Post a Blog?</div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Title</label>
    <input type="title" class="form-control" id="exampleFormControlInput1" placeholder="Title">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Subheading</label>
    <input type="subheading" class="form-control" id="exampleFormControlInput1" placeholder="Subheading">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Post</label>
    <input type="post" class="form-control" id="exampleFormControlInput1" placeholder="Post here!" rows="4">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Tag</label>
    <input type="tag" class="form-control" id="exampleFormControlInput1" placeholder="Add a Tag here!">
  </div>
    <button type="submit" class="btn btn-blog mb-2">Submit Blog</button>
</form>

<form>
    <div>Post a Comment?</div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Comment</label>
    <input type="post" class="form-control" id="exampleFormControlInput1" placeholder="Comment here!" rows="4">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">To which Blog?</label>
    <input type="tag" class="form-control" id="exampleFormControlInput1" placeholder="Add the Blog's ID here!">
  </div>
    <button type="submit" class="btn btn-comment mb-2">Submit Comment</button>
</form>